@model IEnumerable<Scozzard.Web.ViewModels.ActivityViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>&nbsp;</p><p>&nbsp;</p>
<div class="container">
    <div class="jumbotron">

        @foreach (var activity in Model)
        {
            <div class="panel panel-default">
                @Html.Partial("Activity", activity)
            </div>
        }

    </div>

</div>



