@model IEnumerable<Scozzard.Web.ViewModels.ActivityViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <div class="jumbotron" style="padding: 10px 10px 10px 10px">
                @Html.Partial("_UserPartial")
            </div>            
        </div>

        <div class="col-xs-6">
            <div class="jumbotron" style="padding: 20px 20px 20px 20px">
                @foreach (var activity in Model)
            {
                    <div class="panel panel-default">
                        @Html.Partial("Activity", activity)
                    </div>
                }
            </div>
        </div>

        <div class="col-xs-4">
            <div class="jumbotron" style="padding: 10px 10px 10px 10px">
                 @Html.Partial("ActivityChart")
            </div>
        </div>
    </div>
</div>



