@using Microsoft.AspNet.Identity;
@using System.Security.Claims;
@using Scozzard.Service;

@if (User.Identity.IsAuthenticated)
{
    var claimsUser = (ClaimsPrincipal)User;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <section style="position:absolute; top:10px; right:10px; padding: 5px 10px 0px 10px;">
            <div style="float:left; padding: 0px 10px 0px 10px">
                <p style="color:white">
                    <span style="color:white;font-weight:bold"><a href="javascript:document.getElementById('logoutForm').submit()">SIGN OUT</a></span>
                </p>
            </div>
        </section>
    }
}
else
{
    <section style="position:absolute; top:10px; right:10px; padding: 5px 10px 0px 10px;">
        <div style="float:left; padding: 0px 10px 0px 10px">
            <p style="color:white">
                <span style="color:white;font-weight:bold">@Html.ActionLink("SIGN IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
            </p>
        </div>
    </section>
}
